.site-footer {
    background: #111;
    color: #fff;
}
.widgetSection{
    padding: 80px 0px;
}
.widgetSection h2 {
    margin-bottom:50px;
    font-size: 22px;
    line-height: 22px;
    color: #fff;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    
}
    .widgetSection h2::after {
        content: '';
        position: absolute;
        line-height:22px;
        top: 25%;
        left:20px;
        width: 60px;
        height: 3px;
        background: #32b67a;
    }
    .widgetSection p {
        line-height: 35px;
    }
    .widgetSection ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .widgetSection ul li {
        font-size: 15px;
        color: lightgray;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        margin: 20px 0px;
        padding-bottom: 8px;
    }



.FootText{
    border-top: solid 1px gray;
    height:80px;
    line-height:80px;
    color:lightgray;
    font-size:20px;
}